@model CustomerLoginViewModel
@{
    ViewData["Title"] = "Esqueci minha senha";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <br />
        @Html.Raw(ViewBag.retorno)
        <div class="card mb-4">
            <div class="card-title">
                <i class="fa-solid fa-lock"></i>
                Trocar senha
            </div>
            <div class="card-body">
                @using(Html.BeginForm())
                {
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="nmCnpj" type="text" placeholder="CNPJ" />
                        <label for="nmCnpj">CNPJ</label>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="small" href="@Url.Action("Index", "Account")">Voltar</a>
                        <button class="btn btn-primary" type="submit">Solicitar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


